:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 27px;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

p {
  margin-bottom: 0px;
}